# Ignore compiled Java class files
*.class

# Ignore IDE-specific files and directories
.project
.settings/
.classpath
.DS_Store

# Ignore .metadata/ directory
.metadata/
.metadata/.plugins/

# Ignore /bin/
BankAccount/bin/

# Ignore from src folder
src/.DS_Store
src/module-info.java

# Ignore from BankAccount
BankAccount/.DS_Store
BankAccount/module-info.java
